.games {
  
    ion-select {
        padding: 13px 8px 13px 0;
        max-width: 65%;
        
        .select-text {
            font-weight: normal;
            text-align: right;
            height: 20px; 
        }
    }
    
    .icon-button {
        cursor: pointer;
        float: right;   
    }
    
    .single {
        font-family: 'icomoon';     
        @extend .icon-user;
    }
    
    .double {
        font-family: 'icomoon';
        @extend .icon-users;
    }
    
    .icon-spin {
        color: #A40233; 
        animation-name: spin;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(359deg);
        }
    }

    ion-card-title {
        font-size: 1.6rem;
        background-color: $header-background-color;
        padding: 6px 6px 6px 6px;
        border-radius: 4px;
    }
    
    ion-card-content {
        padding: 8px 8px 8px 8px;
    }
    
    .game {
        margin: 8px 0 16px 0;
        
        table {
          width: 100%;
        }
    
        td {
          padding: 3px;
          border: 2px solid white;
          text-align: center;   
          background-color: $table-background-color;
          border-radius: 6px;
        }
        
        td {
            div.content {
                padding: 1px; 
                background-color: white; 
                border-radius: 3px;
            } 
        }
        
        td.type {
          width: 6%;
        }
       
        td.names {
           //width: 62%;
           text-align: left; 
           cursor: pointer;
        }
       
        td.set {
          width: 8%;
          color: #A40233;
          font-weight: bold;
        } 
        
        td.winner {
          width: 8%;
        } 
        
        td.game-time {
          text-align: left;
        } 
    }

    .message {
        color: $text-color-secondary;
        margin: 8px 4px 8px 6px;
    }
}
