.games {
  
    ion-select {
        padding: 13px 8px 13px 0;
        max-width: 65%;
        
        .select-text {
            font-weight: bold;
        }
    }

    .select-text {
        text-align: right;
    }
    
    .icon-button {
        cursor: pointer;
        float: right;   
    }
    
    .single {
        font-family: 'icomoon';     
        @extend .icon-user;
    }
    
    .double {
        font-family: 'icomoon';
        @extend .icon-users;
    }
    
    .icon-spin {
        color: #A40233; 
        animation-name: spin;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(359deg);
        }
    }

}
