<ion-navbar *navbar>  
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Shaile Open</ion-title>  
    <ion-buttons end>
      <button class="toolbar-logo">       
        <a href="http://www.shaile.nl" target="_blank"></a>  
      </button>
    </ion-buttons> 
</ion-navbar>

   <!--<ion-tabs>
     <ion-tab tabTitle="Gespeeld" [root]="finishedTab"></ion-tab>
     <ion-tab tabTitle="Nu Bezig" [root]="currentTab"></ion-tab>
     <ion-tab tabTitle="Geplanned" [root]="plannedTab"></ion-tab>
   </ion-tabs>-->
               
<ion-content class="games">
  
  <ion-list>
    <ion-item>
      <ion-label></ion-label>
      <ion-select [(ngModel)]="selectedDate" (change)="dateSelected($event)">
        <ion-option *ngFor="#dt of dates; #idx = index" [value]="dt">Dag {{ idx+1 }}: {{ dt | formatDate:dd-MMM-yyyy }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
    
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        Gespeelde wedstrijden
      </ion-card-title>
      <ion-list>
        <ion-list-item *ngIf="finishedGames.length === 0">
          <div class="message">Geen wedstrijden.</div>
        </ion-list-item>  
        <ion-list-item class="game" *ngFor="#game of finishedGames">
          <game [game]=game></game>
      </ion-list-item>
      </ion-list>    
    </ion-card-content>
  </ion-card>
  
  <ion-card>    
    <ion-card-content>
      <ion-card-title>
        <span>Nu bezig</span>
      </ion-card-title> 
      <ion-list>
        <ion-list-item *ngIf="currentGames.length === 0">
          <div class="message">Geen wedstrijden.</div>
        </ion-list-item> 
        <ion-list-item class="game" *ngFor="#game of currentGames">
          <game [game]=game></game>
        </ion-list-item>
      </ion-list> 
    </ion-card-content>  
 </ion-card>
 
 <ion-card>      
    <ion-card-content>
      <ion-card-title>
        Geplande wedstrijden
      </ion-card-title>
      <ion-list>
        <ion-list-item *ngIf="plannedGames.length === 0">
          <div class="message">Geen wedstrijden.</div>
        </ion-list-item> 
        <ion-list-item class="game" *ngFor="#game of plannedGames">
          <game [game]=game></game>
        </ion-list-item>
      </ion-list> 
    </ion-card-content>  
  </ion-card>

</ion-content>
