<ion-navbar *navbar>  
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Shaile Open</ion-title>
</ion-navbar>
             
<ion-content class="games">
  
  <ion-list>
    <ion-item>
      <ion-label>Datum</ion-label>
      <ion-select  [(ngModel)]="selectedDate" (change)="dateSelected($event)">
        <ion-option *ngFor="#dt of dates" [value]="dt">{{ dt | formatDate:dd-MMM-yyyy }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        Gespeelde wedstrijden
      </ion-card-title>
      <ion-list>
        <ion-list-item *ngIf="finishedGames.length === 0">
          Geen wedstrijden.
        </ion-list-item>  
        <ion-list-item class="game" *ngFor="#game of finishedGames">
          <finished-games [game]=game></finished-games>
      </ion-list-item>
      </ion-list>    
    </ion-card-content>
  </ion-card>
  
  <ion-card>    
    <ion-card-content>
      <ion-card-title>
        <span>Nu bezig</span>
        <span class="icon-loop2 icon-button" (click)="refreshCurrentGames($event)"></span>
      </ion-card-title> 
      <ion-list>
        <ion-list-item *ngIf="currentGames.length === 0">
          Geen wedstrijden.
        </ion-list-item> 
        <ion-list-item class="game" *ngFor="#game of currentGames">
          <current-games [game]=game></current-games>
        </ion-list-item>
      </ion-list> 
    </ion-card-content>  
 </ion-card>
 
 <ion-card>      
    <ion-card-content>
      <ion-card-title>
        Geplande wedstrijden
      </ion-card-title>
      <ion-list>
        <ion-list-item *ngIf="plannedGames.length === 0">
          Geen wedstrijden.
        </ion-list-item> 
        <ion-list-item class="game" *ngFor="#game of plannedGames">
          <planned-games [game]=game></planned-games>
        </ion-list-item>
      </ion-list> 
    </ion-card-content>  
  </ion-card>
</ion-content>
