.playerdetails {
    
   ion-card-header {
        color: $primary-color-light;
        background-color: $header-background-color;
        border-bottom: 1px solid $header-border-color;        
   }
   
   ion-list > .item:last-child {
       border-bottom: none;
   }
      
   h2 {
       color: $text-color-secondary;
       margin: 8px 0 4px 0;
   }
   
   .playerdetails-details {
       font-size: 1.2rem;
   }
   
}