<ion-navbar *navbar>  
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Shaile Open</ion-title>  
    <ion-buttons end>
      <button class="toolbar-logo">       
        <a href="http://www.shaile.nl" target="_blank"></a>  
      </button>
    </ion-buttons>    
</ion-navbar>
             
<ion-content class="events">
  <ion-card>
    <ion-card-header>
      Programma
    </ion-card-header>
    <ion-card-content>
       <ion-list>
        <ion-item *ngFor="#event of events">
          <h3>{{ event.startDate | formatDate }}</h3>
          <h1>{{ event.name }}</h1>
          <div class="event-time">
            <span>{{ event.startDate | formatTime }}</span>
            <span *ngIf="event.endDate"> - {{ event.endDate  | formatTime }}</span>  
          </div>
          <p>{{ event.description }}</p>
        </ion-item>  
       </ion-list> 
    </ion-card-content>
  </ion-card>
</ion-content>
