$primary-color-light: #A40233;
$primary-color-dark: #A40233;
$text-color : #333;
$text-color-secondary: #191970;
$header-background-color: aliceblue;
$header-border-color: lightgray; 
        
.toolbar {
  
  .button-inner {
      color: white;
  }
  
  .toolbar-title {
      color: white;
  }
  
  .toolbar-background {
      background: linear-gradient(to bottom, rgba(163,1,51,1) 0%,rgba(117,1,36,1) 100%);
  }
  
  .toolbar-logo {
      background-image: url('../images/logo-small.png');
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain; 
      height: 32px;
      width: 32px;
  }

}

.menu-icon {
    color: $primary-color-light;
    padding-right: 12px;
}
    
.ion-card {
    color: $text-color;
}