.home {
  
  .tile-item {
      display: flex;
      flex-direction: column;
  }

  .tile-icon {
      color: $purple;
      font-size: 1.8em;
      text-align: center;
  }
  
  .tile-title {
      text-align: center;
      padding-top: 8px;
      cursor: pointer;
  }
  
  .sponsor-slider {
      display: flex;
      flex-direction: column;
  }
  
}
