.home {
  
  .tile {
      display: flex;
      flex-direction: column;
      cursor: pointer;
  }

  .tile-icon {
      color: $purple;
      font-size: 1.8em;
      text-align: center;
  }
  
  .tile-title {
      text-align: center;
      padding-top: 8px;
  }
  
}

.sponsor-slider {
    background-color:white;
}

.swiper-slide img {
    max-height: 100px;  
}

.swiper-pagination {
    display: none;
}